<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src='/common/js/jquery/jquery.min.js'></script>
    <script src='/adm/js/gosa.js'></script>
    <link rel='stylesheet' href='/adm/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
   	<div>
    <table>
   		<tr>
   			<th>부서명</th>
   			<th>수정</th>
   			<th>삭제</th>
   		</tr>
   		<% for(let i=0; i<list.length; ++i){ %>
   		<tr>
   			<td><input type="text" id="name_<%=list[i].SEQ%>" value="<%=list[i].NAME%>"></td>
   			<td><button id="update_<%=list[i].SEQ%>" class="update">수정</button></td>
   			<td><button id="delete_<%=list[i].SEQ%>" class="delete">삭제</button></td>
   		</tr>
   		<% } %>
   	</table>  
    
    <table>
   		<tr>
   			<th>부서명</th>
   			<th>등록</th>
   		</tr>
   		<tr>
   			<td><input type="text" id="name" value=""></td>
   			<td><button id="addBtn">등록</button></td>
   		</tr>
   	</table>  
    </div>
    </div>
    <div>
    </div>
  </body>
  <script src='/adm/js/department.js'></script>
</html>
