<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../common/head %>
  </head>
  <body>
  	<input type="hidden" id="userPage" name="userPage" value="<%=page%>">
    <div class="main-wrap">
    	<% include ../common/menu %>
  		<div class="content-wrap">
    	<h2><%= title %></h2>
    	<div>
	    	<select>
				  <option value="id" selected="selected">아이디</option>
				  <option value="name">이름</option>
				  <option value="department">소속</option>
				  <option value="position">직책</option>
				  <option value="cellphone">연락처</option>
				</select>
    	</div>
    	<div><input type="text" id="searchWord" name="searchWord"><button>검색</button></div>
    	
    	<div>
					<table class="thead-tbl">
						<colgroup>
							<col style="width:10%">
							<col style="width:10%">
							<col style="width:10%">
							<col style="width:15%">
							<col style="width:10%">
							<col style="width:*%">
						</colgroup>
						<thead>
							<tr>
				   			<th>번호</th>
				   			<th>아이디</th>
				   			<th>이름</th>
				   			<th>소속</th>
								<th>직급</th>
				   			<th>연락처</th>
				   		</tr>
						</thead>
						<tbody>
							<% for(let i=0; i<list.length; ++i){ %>
				   		<tr>
				   			<td><%=max-i%></td>
				   			<td><%=list[i].ID%></td>
				   			<td><a href="/admin/users/update/<%=page%>/<%=list[i].SEQ%>"><%=list[i].NAME%></a></td>
				   			<td><%=list[i].DEPARTMENT%></td>
				   			<td><%=list[i].POSITION%></td>
				   			<td><%=list[i].CELLPHONE%></td>
				   		</tr>
				   		<% } %>
						</tbody>
					</table>
				</div>
				
				<div class="pagenum">
					<ul>
						<% if(page > pageSize) { %>
						<li><a href="/admin/users/list/1"><i class="fa fa-angle-double-left"></i></a></li>
						<li><a href="/admin/users/list/<%=startPage-1%>"><i class="fa fa-angle-left"></i></a></li>
						<% } %>
						
						<% for (var i=startPage; i<=endPage; i++) { %>
			        	<% if (i== page) {%>
			        	<li class="on"><%=i%></li>
			        	<% } else { %>
			        	<li><a href="/admin/users/list/<%=i%>"><%=i%></a></li>
			       		<% } %>
			      		<% } %>
						
						<% if (endPage < totalPage) { %>
						<li><a href="/admin/users/list/<%=endPage+1%>"><i class="fa fa-angle-right"></i></a></li>
						<li><a href="/admin/users/list/<%=totalPage%>"><i class="fa fa-angle-double-right"></i></a></li>
			      	    <% } %>
					</ul>
				</div>
				
				<div><button id="addBtn">등록</button></div>
				
    	</div>
    </div>
  </body>
  <script src='/adm/js/users.js'></script>
</html>
