<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../common/head %>
  </head>
  <body>
  	<input type="hidden" id="examPage" name="examPage" value="<%=page%>">
    <form id="commonForm" name="commonForm"></form>
     <div class="main-wrap">
     	<% include ../common/menu %>
     	<div class="content-wrap">
     		<h2><%= title %></h2>
     		<div class="tablist">
     			<ul class="monthlist">
						<% for(let i=0; i<schedule.length; ++i){ %>
			  			<% if(schedule[i].CHECKED === "checked"){ %>
			  				<li class="chk">
				  				<input type="radio" name="schName" class="schName" id="radio<%=i%>" value="<%=schedule[i].SEQ%>" checked="<%=schedule[i].CHECKED%>">
				  				<label for="radio<%=i%>"><%=schedule[i].NAME%></label>
			  				</li>
			  			<% } else { %>
			  				<li>
			  					<input type="radio" name="schName" class="schName" id="radio<%=i%>" value="<%=schedule[i].SEQ%>">
			  					<label for="radio<%=i%>"><%=schedule[i].NAME%></label>
			  				</li>
			  			<% } %>
			  		<% } %>
					</ul>
					
					<form id="tab1">
						<fieldset>
							<ul>
								<% for(let i=0; i<exam.length; ++i){ %>
				   				<li>
										<span>
											<input type="checkbox" name="examName" id="examName<%=i%>" class="examName" value="<%=exam[i].SEQ%>">
											<label for="examName<%=i%>"><%=exam[i].NAME%></label>
										</span>
										<input type="number" id="examClass_<%=exam[i].SEQ%>" class="examClass"  min="1" max="5" value="<%=exam[i].CLASS%>"><br>
									</li> 			
					   		<% } %>
			   			</ul>
						</fieldset>
					</form>
					
     		</div>
     	</div>
				<div class="btnfr">     
					<button type="button" id="insertBtn"  class="mbtn skybtn">등록</button>
    			<button type="button" id="cancelBtn" class="mbtn whitebtn">취소</button>
     		</div>
     </div>
  </body>
 
  <script src='/adm/js/periods.js'></script>
</html>
