<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../common/head %>
  </head>
  <body>
  	<input type="hidden" id="examPage" name="examPage" value="<%=page%>">
  	<input type="hidden" id="selectedSchSeq" name="selectedSchSeq" value="<%=selected_schedule_seq%>">
  	<input type="hidden" id="selectedSchName" name="selectedSchName" value="<%=selected_schedul_name%>">
    <form id="commonForm" name="commonForm"></form>
    <div class="main-wrap">
    	<% include ../common/menu %>
    	<div class="content-wrap">
    		<h2><%= title %></h2>
    		
    		<div class="tablist">
					<ul class="monthlist">
			  		<li class="chk">
		  				<input type="radio" name="schName" class="schName" id="schName" value="<%=schedule.SCHEDULE_SEQ%>" checked="checked">
		  				<label for="schName"><%=schedule.SCHEDULE_NAME%></label>
	  				</li>
					</ul>
					
					<form id="tab1">
						<fieldset>
							<ul>
								<% for(let i=0; i<exam.length; ++i){ %>
					   			<% if(exam[i].CHECKED === "checked"){ %>
					   				<li>
											<span>
												<input type="checkbox" name="examName" id="examName<%=i%>" class="examName" value="<%=exam[i].SEQ%>" checked="<%=exam[i].CHECKED%>">
												<label for="examName<%=i%>"><%=exam[i].NAME%></label>
												<label for="schoolName<%=i%>"><%=exam[i].SCHOOL%></label>
											</span>
											<input type="number" id="examClass_<%=exam[i].SEQ%>" class="examClass"  min="1" max="5" value="<%=exam[i].CLASS%>"><br>
										</li>
					   			<% } else { %>
					   				<li>
											<span>
												<input type="checkbox" name="examName" id="examName<%=i%>" class="examName" value="<%=exam[i].SEQ%>">
												<label for="examName<%=i%>"><%=exam[i].NAME%></label>
												<label for="schoolName<%=i%>"><%=exam[i].SCHOOL%></label>
											</span>
											<input type="number" id="examClass_<%=exam[i].SEQ%>" class="examClass"  min="1" max="5" value="<%=exam[i].CLASS%>"><br>
										</li> 			
					   			<% } %>
					   		<% } %>
			   			</ul>
						</fieldset>
					</form>
				</div>
    		<div class="btnfr">
					<button type="button" id="updateBtn" class="mbtn skybtn">수정</button>
					<button type="button" id="deleteBtn" class="mbtn redbtn">삭제</button>
					<button type="button" id="cancelBtn"  class="mbtn whitebtn">목록</button>
				</div>   
    	</div>
    </div>
  </body>
  <script src='/adm/js/periods.js'></script>
</html>
