<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src='/common/js/jquery/jquery.min.js'></script>
    <script src='/adm/js/gosa.js'></script>
    <link rel='stylesheet' href='/adm/css/style.css' />
    <style type="text/css">
    .schedule{
    min-width: 100px;
    min-height: 300px;
    background-color: aliceblue;
    width: 120px;
    float: left;
    }
    
    .exam{
    min-width: 100px;
    min-height: 300px;
    background-color: antiquewhite;
    width: 120px;
    float: left;
    }
   	
   	.examClass{
    background-color: cadetblue;
    float: left;
    border: 0.2px solid black;
   	}
    </style>
  </head>
  <body>
  	<input type="hidden" id="examPage" name="examPage" value="<%=page%>">
    <form id="commonForm" name="commonForm"></form>
    <h1><%= title %></h1>
   	<div class="schedule">
   		<% for(let i=0; i<schedule.length; ++i){ %>
   			<% if(schedule[i].CHECKED === "checked"){ %>
   				<input type="radio" name="schName" class="schName" value="<%=schedule[i].SEQ%>" checked="<%=schedule[i].CHECKED%>"><%=schedule[i].NAME%><br>
   			<% } else { %>
   				<input type="radio" name="schName" class="schName" value="<%=schedule[i].SEQ%>"><%=schedule[i].NAME%><br>	
   			<% } %>
   		<% } %>
   	</div>
   	<div class="exam">
   		<% for(let i=0; i<exam.length; ++i){ %>
   			<% if(exam[i].CHECKED === "checked"){ %>
   				<input type="checkbox" name="examName" class="examName" value="<%=exam[i].SEQ%>" checked="<%=exam[i].CHECKED%>"><%=exam[i].NAME%><br>  			
   			<% } else { %>
   				<input type="checkbox" name="examName" class="examName" value="<%=exam[i].SEQ%>"><%=exam[i].NAME%><br>  			
   			<% } %>
   		<% } %>
   	</div>
   	
   	<div class="examClass">
   		<% for(let i=0; i<exam.length; ++i){ %>
   		<input type="number" id="examClass_<%=exam[i].SEQ%>" class="examClass"  min="1" max="5" value="<%=exam[i].CLASS%>"><br>
   		<% } %>
   	</div>
   
    <div>
    	<button id="insertBtn">등록</button>
    	<button id="cancelBtn">취소</button>
    </div>
  </body>
 
  <script src='/adm/js/periods.js'></script>
</html>
