<div class="main-wrap">
	<div class="content-wrap">
		<h2>공지사항</h2>
		<div>
			<input type="hidden" id="page" name="page" value="<%=page%>">
			<table class="thead-tbl">
				<colgroup>
					<col style="width:12%">
					<col style="width:*%">
					<col style="width:20%">
					<col style="width:20%">
				</colgroup>
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>날짜</th>
					</tr>
				</thead>
				<tbody>
					<tr class="notitop">
						<td><span class="fcred">[공지]</span></td>
						<td><a href="">긴급 공지! 필독요망!</a></td>
						<td class="tac">관리자1</td>
						<td class="tac">2018.12.12</td>
					</tr>
					<% for(let i=0; i<list.length; ++i) { %>
					<tr>
						<td><%=max-i%></td>
						<td><a href="/gsv/notice/list/<%=page%>/<%=list[i].SEQ%>"><%=list[i].TITLE%></a></td>
						<td class="tac"><%=list[i].NAME%></td>
						<td class="tac"><%=list[i].START_DATE%></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	
		<div class="pagenum">
			<ul>
				<% if(page > pageSize) { %>
				<li><a href="/gsv/notice/list/1"><i class="fa fa-angle-double-left"></i></a></li>
				<li><a href="/gsv/notice/list/<%=startPage-1%>"><i class="fa fa-angle-left"></i></a></li>
				<% } %>
				
				<% for (var i=startPage; i<=endPage; i++) { %>
      	<% if (i== page) {%>
	        	<li class="on"><%=i%></li>
	        	<% } else { %>
	        	<li><a href="/gsv/notice/list/<%=i%>"><%=i%></a></li>
      		<% } %>
     		<% } %>
				
				<% if (endPage < totalPage) { %>
				<li><a href="/gsv/notice/list/<%=endPage+1%>"><i class="fa fa-angle-right"></i></a></li>
				<li><a href="/gsv/notice/list/<%=totalPage%>"><i class="fa fa-angle-double-right"></i></a></li>
   	    <% } %>
			</ul>
		</div>
		
	</div>
	
	<div class="top">
		<a href="#">
			<span>TOP</span>
		</a>
	</div>
</div>