<div class="main-wrap">
	<div class="clock-wrap">
		<p>신청은 10시 시작입니다.</p>
		<div class="hour-wrap">
			<div class="digit-top">
				<div class="front">00</div>
				<div class="back">00</div>
			</div>
			<div class="digit-bottom">
				<div class="front">00</div>
			</div>
		</div>
		<div class="min-wrap">
			<div class="digit-top">
				<div class="front">00</div>
				<div class="back">00</div>
			</div>
			<div class="digit-bottom">
				<div class="front">00</div>
			</div>
		</div>
		<div class="sec-wrap">
			<div class="digit-top">
				<div class="front">00</div>
				<div class="back">00</div>
			</div>
			<div class="digit-bottom">
				<div class="front">00</div>
			</div>
		</div>
	</div>

	<div class="content-wrap">
		<div class="menu">
			<ul class="fl">
				<li class="on"><a href="/gsv/main">신청</a></li>
				<li><a href="#">신청관리</a></li>
				<li><a href="#">지인관리</a></li>
			</ul>
			<ul class="fr">
				 <li><a href="/gsv/notice/list">공지사항</a></li>
				 <li><a href="/gsv/logout">로그아웃</a></li>
			</ul>
		</div>
		<div class="content">
			<div class="notice-title">
				<h1>공지사항</h1>
			</div>
			<table>
				<tr>
					<th>no</th>
					<th>title</th>
					<th>author</th>
					<th>date</th>
				</tr>
			<% for(let listCount=0; listCount<list.length; listCount++) { %>
			<tr>
				<td><%=listCount%></td>
				<td><a href="/gsv/notice/view/<%=list[listCount].SEQ%>"><%=list[listCount].TITLE%></a></td>
				<td><%=list[listCount].NAME%></td>
				<td><%=list[listCount].DATE%></td>
			<tr>
			<% } %>
		</div>
	</div>
</div>
