<div class="main-wrap">
	<div class="content-wrap">
		<h2>공지사항</h2>
		<div>
			<table class="thead-tbl">
				<colgroup>
					<col style="width:12%">
					<col style="width:*%">
					<col style="width:20%">
					<col style="width:20%">
				</colgroup>
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>날짜</th>
					</tr>
				</thead>
				<tbody>
					<tr class="notitop">
						<td><span class="fcred">[공지]</span></td>
						<td><a href="">긴급 공지! 필독요망!</a></td>
						<td class="tac">관리자1</td>
						<td class="tac">2018.12.12</td>
					</tr>
					<% for(let listCount=0; listCount<noticeList.length; listCount++) { %>
					<tr>
						<td><%=noticeList[listCount].NUM%></td>
						<td><a href="/gsv/notice/list/<%=nowPage%>/<%=noticeList[listCount].SEQ%>"><%=noticeList[listCount].TITLE%></a></td>
						<td class="tac"><%=noticeList[listCount].NAME%></td>
						<td class="tac"><%=noticeList[listCount].DATE%></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		
		<div class="pagenum">
			<ul>
				<li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
				<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
				<li class="on">1</li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
				<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
			</ul>
		</div>
	</div>
	
	<div class="top">
		<a href="#">
			<span>TOP</span>
		</a>
	</div>
</div>