<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src='/common/js/jquery/jquery.min.js'></script>
    <script src='/adm/js/gosa.js'></script>
    <link rel='stylesheet' href='/adm/css/style.css' />
  </head>
  <body>
  	<input type="hidden" id="noticePage" name="noticePage" value="<%=page%>">
    <h1><%= title %></h1>
    <div>
    	<select>
		  <option value="name" selected="selected">제목</option>
		  <option value="contents">내용</option>
		</select>
    </div>
    <div><input type="text" id="searchWord" name="searchWord"><button>검색</button></div>
   	<table>
   		<tr>
   			<th>번호</th>
   			<th>제목</th>
   			<th>시작일</th>
   			<th>종료일</th>		
   		</tr>
   		<% for(let i=0; i<list.length; ++i){ %>
   		<tr>
   			<td><%=max-i%></td>
   			<td><a href="/admin/notice/update/<%=page%>/<%=list[i].SEQ%>"><%=list[i].TITLE%></a></td>
   			<td><%=list[i].START_DATE%></td>
   			<td><%=list[i].END_DATE%></td>
   		</tr>
   		<% } %>
   	</table>
   	<div>
      <% if(page > pageSize) { %>
        [ <a href="/admin/notice/list/1" style="text-decoration: none;">◀◀</a> ]
        [ <a href="/admin/notice/list/<%=startPage-1%>" style="text-decoration: none;">◀</a> ]
      <% } %>
     
      &nbsp;&nbsp;
      <% for (var i=startPage; i<=endPage; i++) { %>
        <% if (i== page) {%>
          [ <%=i%> ]
        <% } else { %>
          [ <a href="/admin/notice/list/<%=i%>" style="text-decoration: none;"><%=i%></a> ]
        <% } %>
      <% } %>
      &nbsp;&nbsp;
      <% if (endPage < totalPage) { %>
        [ <a href="/admin/notice/list/<%=endPage+1%>" style="text-decoration: none;">▶</a> ]
        [ <a href="/admin/notice/list/<%=totalPage%>" style="text-decoration: none;">▶▶</a> ]
      <% } %>
      
    </div>
    <div>
    <button id="addBtn">등록</button>
    </div>
  </body>
  <script src='/adm/js/notice.js'></script>
</html>
