<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src='/common/js/jquery/jquery.min.js'></script>
    <script src='/adm/js/gosa.js'></script>
    <link rel='stylesheet' href='/adm/css/style.css' />
  </head>
  <body>
  	<input type="hidden" id="noticePage" name="noticePage" value="<%=page%>">
  	<input type="hidden" id="noticeSeq" name="noticeSeq" value="<%=notice.SEQ%>">
    <form id="commonForm" name="commonForm"></form>
   	<label>시작일</label>
   	<input type="date" id="startDate" value="<%=notice.START_DATE%>"><br>
   	<label>종료일</label>
   	<input type="date" id="endDate" value="<%=notice.END_DATE%>"><br>
   	<label>제목</label>
   	<input type="text" id="title" value="<%=notice.TITLE%>"><br>
   	<label>내용</label>
   	<input type="text" id="contents" value="<%=notice.CONTENTS%>"><br>
   	
    <div>
    	<button id="updateBtn">수정</button>
    	<button id="deleteBtn">삭제</button>
    	<button id="cancelBtn">취소</button>
    </div>
  </body>
 
  <script src='/adm/js/notice.js'></script>
</html>
