<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  	<script src='/common/js/jquery/jquery.min.js'></script>
    <script src="/common/js/tui-editor/tui-code-snippet.min.js"></script>
    <script src="/common/js/tui-editor/markdown-it.min.js"></script>
    <script src="/common/js/tui-editor/toMark.min.js"></script>
    <script src="/common/js/tui-editor/codemirror.js"></script>
    <script src="/common/js/tui-editor/highlight.pack.min.js"></script>
    <script src="/common/js/tui-editor/squire.js"></script>
    <script src="/common/js/tui-editor/tui-editor-Editor-all.min.js"></script>
    
    <script src='/adm/js/gosa.js'></script>
    <link rel='stylesheet' href='/adm/css/style.css' />
    <link rel="stylesheet" href="/common/css/tui-editor/codemirror.css">
    <link rel="stylesheet" href="/common/css/tui-editor/github.css">
    <link rel="stylesheet" href="/common/css/tui-editor/tui-editor.min.css">
    <link rel="stylesheet" href="/common/css/tui-editor/tui-editor-contents.min.css">
  </head>
  <body>
  	<input type="hidden" id="noticePage" name="noticePage" value="<%=page%>">
  	<input type="hidden" id="noticeSeq" name="noticeSeq" value="<%=notice.SEQ%>">
  	<input type="hidden" id="noticeCtns" name="noticeCtns" value="<%=notice.CONTENTS%>">
    <form id="commonForm" name="commonForm"></form>
   	
   	<div class="main-wrap">
   		<% include ../common/menu %>
   	
   		<div class="content-wrap write">
   			<h2><%= title %></h2>
   			
   			<div class="view">
   				<div class="title">
					<form action="#" method="post">
						<fieldset>
							<legend>제목</legend>
							<input type="text" id="title" placeholder="제목을 입력해 주세요." value="<%=notice.TITLE%>">
						</fieldset>
					</form>
					<ul>
						<li><span class="mr10">시작일</span><input type="date" id="startDate" value="<%=notice.START_DATE%>"></li>
						<li><span class="mr10">종료일</span><input type="date" id="endDate" value="<%=notice.END_DATE%>"></li>
						<li><span class="mr10">등록일</span><input type="date" id="Date" value="<%=notice.DATE%>"></li>
					</ul>
				</div>
				
				<div class="text">
					<form action="#" method="post" class="mt15">
						<fieldset>
							<legend>내용</legend>
							<div id="contents"></div>
							<script>
							    $('#contents').tuiEditor({
							        initialEditType: 'markdown',
							        previewStyle: 'vertical',
							        height: 300
							    });
							 
							    $('#contents').tuiEditor('setValue', $('#noticeCtns').val());
							    
							</script>
						</fieldset>
					</form>
				</div>
				
				<div class="list">
					<ul>
						<% if (next != null) { %>
						<li class="next">
							<p><i class="fa fa-caret-up mr10"></i>다음글</p>
							<a href="/admin/notice/update/<%=page%>/<%=next.SEQ%>"><%=next.TITLE %></a>
							<span><%=next.DATE %></span>
						</li>
						<% } %>
						
						<% if (pre != null) { %>
						<li class="pre">
							<p><i class="fa fa-caret-down mr10"></i>이전글</p>
							<a href="/admin/notice/update/<%=page%>/<%=pre.SEQ%>"><%=pre.TITLE %></a>
							<span><%=pre.DATE %></span>
						</li>
						<% } %>
						
					</ul>
					
					<div class="btnfr">
						<button type="button" id="updateBtn" class="mbtn skybtn">수정</button>
						<button type="button" id="deleteBtn" class="mbtn redbtn">삭제</button>
						<button type="button" id="cancelBtn"  class="mbtn whitebtn">목록</button>
					</div>
					
				</div>
   			</div>
   		</div>
   	</div>
  </body>
  <script src='/adm/js/notice.js'></script>
</html>
