<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   	<% include ../common/head %>
  </head>
  <body>
  	<input type="hidden" id="examPage" name="examPage" value="<%=page%>">
		<input type="hidden" id="examSeq" name="examSeq" value="<%=exam.SEQ%>">
    <form id="commonForm" name="commonForm"></form>
    <% include ../common/menu %>
    <div class="content-wrap">
   		<h2><%= title %></h2>
   		<table class="tbody-tbl">
	   		<tr>
	   			<th>고사장 이름</th>
	   			<th>학교 이름</th>
	   			<th>주소</th>		
	   		</tr>
	   		<tr>
	   			<td><input type="text" id="examName" class="listmodi" name="examName" title="고사장 이름" value="<%=exam.NAME%>"></td>
	   			<td><input type="text" id="examSch" class="listmodi" name="examSch" title="학교 이름" value="<%=exam.SCHOOL%>"></td>
	   			<td><input type="text" id="examAddr" class="listmodi" name="examAddr" title="주소" value="<%=exam.ADDR%>"></td>
	   		</tr>
	   	</table>
    
	    <div class="btnfr">
				<button type="button" class="mbtn skybtn" id="updateBtn">수정</button>
				<button type="button" class="mbtn redbtn" id="deleteBtn">삭제</button>
				<button type="button" class="mbtn whitebtn" id="cancelBtn">취소</button>
			</div>
    </div>
    
  </body>
  <script src='/adm/js/exam.js'></script>
</html>
