<div class="main-wrap">
<div class="content-wrap">
	<h2>신청리스트</h2>
	<div>
		<h3><%=schedule[0].NAME%></h3>
		<h3>신청일 : <%=schedule[0].APPLY_DATE%></h3>
		<h3>출석고사일 : <%=schedule[0].ATTENDANCE_DATE%></h3>
		<table class="thead-tbl">
			<colgroup>
				<col style="width:12%">
				<col style="width:16%">
				<col style="width:*">
				<col style="width:14%">
				<col style="width:14%">
				<col style="width:18%">
			</colgroup>
			<thead>
				<tr>
					<th>번호</th>
					<th>고사장</th>
					<th>학교명</th>
					<th>강의실</th>
					<th>분반</th>
					<th>신청</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>가</td>
					<td>
						<a href="#" class="examName" data-exam="1">가중학교<i class="fa fa-map-marker-alt fcsky ml5"></i></a>
					</td>
					<td class="tac">1</td>
					<td class="tac">1</td>
					<td class="tac"><button type="button" class="mbtn skybtn readonly" readonly="readonly">신청대기</button></td>
				</tr>
				<% let row_span_flag = true; %>
				<% let rowsp = 0; %>
				<% let temp = 0; %>
				<% let switch_flag = true; %>
				<% let index_key = 0; %>

				<% 
				result.forEach(function(el, index) { 
					if(locals.result[index+1] && el['EXAM_SEQ'] === result[index+1]['EXAM_SEQ'] && rowsp === 0) { 
						switch_flag = false; 
						row_span_flag = false; 
						temp = index; 

						while(true) { 
							if(el['EXAM_SEQ'] === result[temp]['EXAM_SEQ']) { 
								temp = temp+1; 
								rowsp = rowsp+1; 
							} else { 
								break;
							} 
				 		} 
					} else { 
						if(switch_flag === false) { 
							rowsp = rowsp-1; 
						if(rowsp === 0) { 
							switch_flag = true; 
							} 
						} 
						
						row_span_flag = true; 
					} 
				%> 
				<tr>
				<%	if(row_span_flag === true) { %>
				<%		if(switch_flag === true) { %>
						<td class="tac"><%=(index_key+1)%></td>
						<% index_key++; %>
						<td><%=el['EXAM_NAME'];%></td>
						<td><a href="#" class="examName" data-exam="<%=el['EXAM_SEQ'];%>"><%=el['EXAM_SCHOOL'];%><i class="fa fa-map-marker-alt fcsky ml5"></i></a></td>
						<td class="tac"><%=el['PERIOD_CLASS'];%></td>
				<% 		} %>
				<% } else { %>
						<td rowspan="<%=rowsp%>" class="tac"><%=(index_key+1);%></td>
						<% index_key++; %>
						<td rowspan="<%=rowsp%>"><%=el['EXAM_NAME'];%></td>
						<td rowspan="<%=rowsp%>"><%=el['EXAM_SCHOOL'];%><i class="fa fa-map-marker-alt fcsky ml5"></i></td>
						<td rowspan="<%=rowsp%>" class="tac"><%=rowsp;%></td>
				<% } %>
				<td class="tac"><%=el['PERIOD_CLASS'];%></td>
				<td class="tac">
				<% if(applyStatus === 0) { %>
				<button type="button" class="mbtn skybtn readonly" readonly="readonly">신청대기</button>
				<% } else { %>
				<% switch(el['USER_STATE']) {
					case 0: %>
				<button type="button" class="mbtn skybtn applyBtn" 
						data-period="<%=el.SEQ%>"
						data-schedule="<%=schedule[0].SEQ%>"
						data-class="<%=el.PERIOD_CLASS%>"
				>신청하기</button>
				<% break;
					case 1: %>
				<button type="button" class="mbtn redbtn cancelBtn"
						data-period="<%=el.SEQ%>"
						data-schedule="<%=schedule[0].SEQ%>"
						data-class="<%=el.PERIOD_CLASS%>"
				>신청취소</button>
				<% break;
					case 2: %>
				<%=el['DEPARTMENT_NAME']+" "+el['NAME'];%>
				<% break; 
					} %>
				<%} %>
				</td>
				</tr>
				<% });%>
			</tbody>
		</table>
	</div>
</div>
</div>

<div class="dimbg"></div>
<div class="dimlayer">
	<div class="popwrap review">
		<a href="#" class="close"><i class="fa fa-times"></i></a>
		<div class="pop-con1">
			<div class="fl">
				<iframe id="mapIframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12618.240102073709!2d128.9096931!3d37.7534649!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2698c8729e3165a2!2z6rCV66aJ7KSR7ZWZ6rWQ!5e0!3m2!1sko!2skr!4v1519689395320"></iframe>
			</div>
			<div class="fl ml15">
				<iframe id="examIframe"></iframe>
			</div>
		</div>

		<div class="pop-con2">
			<h4>후기</h4>
			<iframe id="commentIframe"></iframe>
		</div>
	</div>
</div>

<div class="top">
	<a href="#">
		<span>TOP</span>
	</a>
</div>

<script type="text/javascript" src="/gsv/js/main.js"></script>
