<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../../common/head %>
  </head>
  <body>
  	<input type="hidden" id="examPage" name="examPage" value="<%=page%>">
    <div class="main-wrap">
    	<% include ../../common/menu %>
    	<div class="content-wrap"> 
    		<h2><%= title %></h2>
    		<div>
		    	<select>
					  <option value="name" selected="selected">고사장</option>
					  <option value="school">학교명</option>
					  <option value="period">기수</option>
					  <option value="department">소속</option>
					  <option value="position">직책</option>
					  <option value="name">이름</option>
					</select>
		    </div>
		    <div><input type="text" id="searchWord" name="searchWord"><button>검색</button></div>
				<div>
				<table class="thead-tbl">
					<colgroup>
						<col style="width:10%">
						<col style="width:10%">
						<col style="width:*%">
						<col style="width:15%">
						<col style="width:15%">
						<col style="width:10%">
						<col style="width:10%">
					</colgroup>
					<thead>
						<tr>
				   			<th>번호</th>
				   			<th>고사장</th>
				   			<th>학교</th>
				   			<th>기수</th>
								<th>소속</th>
				   			<th>직책</th>
				   			<th>이름</th>		
				   	</tr>
					</thead>
					<tbody>
						<% for(let i=0; i<list.length; ++i){ %>
			   		<tr>
			   			<td><%=max-i%></td>
			   			<td><%=list[i].EXAM_NAME%></td>
			   			<td><%=list[i].EXAM_SCHOOL%></td>
			   			<td><%=list[i].SCHEDULE_NAME%></td>
			   			<td><%=list[i].DEPARTMENT%></td>
			   			<td><%=list[i].POSITION%></td>
			   			<td><%=list[i].USER_NAME%></td>
			   		</tr>
			   		<% } %>
					</tbody>
				</table>
			</div>
			
			<div class="pagenum">
				<ul>
					<% if(page > pageSize) { %>
					<li><a href="/admin/exam/history/list/1"><i class="fa fa-angle-double-left"></i></a></li>
					<li><a href="/admin/exam/history/list/<%=startPage-1%>"><i class="fa fa-angle-left"></i></a></li>
					<% } %>
					
					<% for (var i=startPage; i<=endPage; i++) { %>
        	<% if (i== page) {%>
        	<li class="on"><%=i%></li>
        	<% } else { %>
        	<li><a href="/admin/exam/history/list/<%=i%>"><%=i%></a></li>
       		<% } %>
      		<% } %>
					
					<% if (endPage < totalPage) { %>
					<li><a href="/admin/exam/history/list/<%=endPage+1%>"><i class="fa fa-angle-right"></i></a></li>
					<li><a href="/admin/exam/history/list/<%=totalPage%>"><i class="fa fa-angle-double-right"></i></a></li>
		      <% } %>
				</ul>
			  </div>
   	  </div>
    </div>
  </body>
</html>
